{
    "env": {
        "target": {
            "node": 20
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "baseUrl": ".",
        "paths": {
            "@application/*": [
                "src/application/*"
            ],
            "@domain/*": [
                "src/domain/*"
            ],
            "@infrastructure/*": [
                "src/infrastructure/*"
            ],
            "@shared/*": [
                "src/shared/*"
            ],
            "@middleware/*": [
                "src/middleware/*"
            ],
            "@repository/*": [
                "src/repository/*"
            ],
            "@services/*": [
                "src/services/*"
            ],
            "@utils/*": [
                "src/utils/*"
            ],
            "@dto/*": [
                "src/dto/*"
            ]
        }
    },
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": "inline"
}